# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\COP2006Files\CoffeeTests\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
